body {
	font-family: 'Open Sans', sans-serif;
	color: #813643;
	margin-top: 60px;
	

}

img {
	max-width: 100%;
	height: auto;
}
 

  /* ШАПКА САЙТА */

nav.navbar {
	background-color: #813643 !important;
	
}

.menu li{
	display: inline-block;
	padding: 0 20px;
	box-sizing: border-box;
	vertical-align: middle;

}
.menu li:last-child {
	padding-right: 0;
}

	a.logo{
	font-size: 26px;
	padding-right: 250px; 
	margin-left: 340px;
	font-style: italic;

}


.images {
	position: relative;
	display: flex;
	height: 900px;
	background-size: 100% 100%;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center center;
		
}


.flower{
	position: absolute;
	top:40%;
	left: 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	
}
.flower p {
	font-style: italic;
	line-height: 1.5;
	font-size: 40px;
	
}


.button {
	border-color: #fff;
	background-color: #813643 !important;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	border-radius: 15px;
	margin-top: 20px;

	
}

.button:hover {
	border: 2px solid #813643;
	background-color: #fff !important;
	color: #813643;

}



/*КОНТЕНТ*/
 h3{
text-transform: uppercase;
text-align: center;
font-weight: bold;

}
.content  {
	font-size: 16px;
	text-align: center;
	
}

 
 .about_s {
    margin: 0px 0px 40px;
 }

.about p {
	font-size: 20px;
	text-align: left;
}

hr {
	border: none;
	background-color:#813643;  
	margin: 20px 0px;
	height: 2px;
}

  /*КУРСЫ*/

.kours img{
	margin: 10px 0px;
}
/*ПРЕИМУЩЕСТВА*/

.vip div>a>img {
	margin:20px 0px;
}
  /*ГАЛЕРЕЯ*/

.gallery div>a>img {
	overflow:hidden;
	margin:10px 0px;
	position: relative;


}
.gallery img{
	-ms-transition:all 1s ease-out; 
	-moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.gallery img:hover {
 -ms-transform: scale(1.6);
 -webkit-transform: scale(1.6);
 -moz-transform: scale(1.6);
 -o-transform: scale(1.6);
 transform: scale(1.6);

}

 /*ОТЗЫВЫ*/

.people h5 {
	text-transform: uppercase;
	font-style: bold;
}
.people div>a>img {
	margin: 20px 0px;
}

   /*КОНТАКТЫ*/
 .footer {
 	background: #813643;
 	height: 200px;
 	background-size: 100% 100%;
 	margin-top: 50px;
 	color: #fff;
 	font-size: 20px;
 	text-align: center;

 }

 .footer pre{
 	color:#fff;
 	margin-top: 15px;
 }

 /*АДАПТАЦИЯ ПОД РАЗНЫЕ ЭКРАНЫ*/


/* Large Devices, Wide Screens */
@media only screen and (max-width: 1500px) {
	a.logo{
		padding-right: 100px;
		margin-left: 0px;
	}
   .images {
   	height: 700px;
   }

/* Medium Devices, Desktop */
@media only screen and (max-width: 960px) {

	   .images {
      height: 500px;
   }


	h3{
		font-size: 20px;
	}
	.flower p {
		font-size: 28px;
	}
	.button {
    	font-size: 20px;
    	margin-top: 5px;
	}

	.content  {
		font-size: 14px;	
	}
	.about p {
		font-size: 16px;
		text-align: center;
		margin-top: 20px;
	}


}


/* Small Devices, Tablets */
@media only screen and (max-width: 720px) {
    .flower p {
		font-size: 24px;
	}
	.button {
    	font-size: 18px;
	}


}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
 
	.flower p {
		font-size: 108px;
	}
	.button {
	    font-size: 14px;

	}


}
